[flake8]
max-line-length = 120
# Recommend matching the black line length (default 88),
# rather than using the flake8 default of 79:
extend-ignore =
    # See https://github.com/PyCQA/pycodestyle/issues/373
    E203,
    # E501, E203, W503
exclude =
    .git
    __pycache__
    build
    dist
    releases
    .venv
    *.egg-info
    .nox
    .pytest_cache
    .mypy_cache
    .vscode
    .githum
